*{
	margin: 0;
	padding: 0;
	font-family: Century Gothics;
}

.button{
		position: absolute;
	top: 48%;
	left:38%;
	transform: translate(-50% -50%);
}
.btn{
	border:1px solid white;
	padding: 10px 30px;
	color:white;
	font-size: 15px;
	text-decoration: none;
}
.btn:hover{
	background-color: #823058;
	color: black;
	transition: 0.8s ease;
}
ul{
	list-style-type: none;
	float: right;
	/*margin-top: 25px;*/
}
ul li{
	/*display: inline-block;*/
	float: left;
	width: 150px;
	height: 40px;
	background-color: black;
	opacity: .8;
	margin-right: 2px;


}

ul li a{
	text-decoration: none;
	color: white;
	padding: 5px 20px;
	border: 1px solid white transparent;
	transition: 0.8s ease ;
	display: block;

}
ul li:hover ul li{
	display:block;
	transition: 0.8s;
}
ul li.active a{
background-color: white;
	color: black;
	height: 30px;
}
.title{
	position: absolute;
	top: 25%;
	left: 35%;
	transform: translate(-50% -50%);
}
.title h1{
	color: #A62658;
	font-size: 100px;
}
ul li a:hover{
	background-color: #823058;
	color: black;
	transition: 0.8s ease;
	font-family: Century Gothics;
	font-size: 17px;

}
.main{
	max-width: 1200px;
	margin: auto;
}
/****************ON MOUSE HOVER**********/
ul li ul li{
	display: none;
}

