
.box{
	position: absolute;
	top: 57%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 400px;
	padding: 40px;
	background: rgba(0,0,0,.8);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0,0,0,0.5);
	border-radius: 10px;
}
.box h1{
	margin: 0 0 30px;
	padding: 0;
	color: white;
	text-align: center;
}
.box .inputbox{
	position: relative;
}
.box .inputbox input{
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: white;
	letter-spacing: 1px;
	margin-bottom: 30px;
	border:none;
	border-bottom:1px solid white;
	outline: none;
	background: transparent; 
}
.box .inputbox label{
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	border:none;
	color: white;
	pointer-events: none;
	transition: .5s;
}

.box  button[type="submit"] ,[type="reset"] 
{
	background: transparent;
	border-radius: none;
	color: white;
	background:#900C3F;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
}
ul{
	list-style-type: none;
	float: right;
	margin-top: 25px;
}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none;
	color: white;
	padding: 5px 20px;
	border: 1px solid white transparent;
	transition: 0.5s ease ;

}
ul li a:hover{
	background-color: #900C3F;
	color: black;
	transition: 0.8s ease;
}
.main{
	max-width: 1200px;
	margin: auto;
body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-image: linear-gradient(rgba(0,0,0,.35),rgba(0,0,0,.35)), url(../studytable.jpg);
	background-size: cover;
}
.box{
	position: absolute;
	top: 57%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 400px;
	padding: 40px;
	background: rgba(0,0,0,.8);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0,0,0,0.5);
	border-radius: 10px;
}
.box h1{
	margin: 0 0 30px;
	padding: 0;
	color: white;
	text-align: center;
}
.box .inputbox{
	position: relative;
}
.box .inputbox input{
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: white;
	letter-spacing: 1px;
	margin-bottom: 30px;
	border:none;
	border-bottom:1px solid white;
	outline: none;
	background: transparent; 
}
.box .inputbox label{
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	border:none;
	color: white;
	pointer-events: none;
	transition: .5s;
}

.box  button[type="submit"] ,[type="reset"] 
{
	background: transparent;
	border-radius: none;
	color: white;
	background:#984915;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
}
ul{
	list-style-type: none;
	float: right;
	margin-top: 25px;
}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none;
	color: white;
	padding: 5px 20px;
	border: 1px solid white transparent;
	transition: 0.5s ease ;

}
ul li a:hover{
	background-color: #900C3F;
	color: black;
	transition: 0.8s ease;
}
.main{
	max-width: 1200px;
	margin: auto;
}